name: Deploy Static Website to S3 + CloudFront

on:
  push:
    branches:
      - main

permissions:
  id-token: write      # Required for OIDC
  contents: read       # Needed for checkout

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Configure AWS credentials via OIDC
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::147997138095:role/GitHubActionsDeployRole
        aws-region: us-east-1

    - name: Sync files to S3
      run: |
        aws s3 sync . s3://aws-static-site-jesusdavidv87/ \
          --exclude ".git/*" \
          --exclude ".github/*" \
          --delete

    - name: Invalidate CloudFront cache
      run: |
        aws cloudfront create-invalidation \
          --distribution-id E29A67MYCCY41W \
          --paths "/*"
